div(class="card card-bordered bg-base")
  div(class="card-body")
    div(class="flex justify-between items-center") 
      div(class="card-title") Contacts list
      a(class="link", href="/contacts/new") New contact
    if contacts.length === 0
      i No contacts matched
    else
      table(class="table")
        thead
          tr
            th First name
            th Last name
            th Phone
            th Email
            th Actions
        tbody
          each contact in contacts 
            tr
              td #{contact.firstName}
              td #{contact.lastName}
              td #{contact.phone}
              td #{contact.email}
              td(class="flex gap-2")
                a(href=`/contacts/${contact.id}`, class="link") View
                a(href=`/contacts/${contact.id}/edit`, class="link") Edit
                form(method="post", action=`/contacts/${contact.id}/delete`)
                  button(href=`/contacts/${contact.id}/delete`, class="link") Delete
