extends layouts/authenticated.pug
block content
  div(class="mx-auto max-w-sm pt-8")
    h3(class="text-xl font-semibold") #{contact.firstName} #{contact.lastName}

    div(class="flex gap-2")
      strong Phone:
      span
        if name
          | #{name}
        else
          i Not set

    div(class="flex gap-2")
      strong Email:
      span
        if email
          | #{email}
        else
          i Not set

    div(class="flex gap-4")
      a(class="link", href="/contacts") Back
      a(class="link", href=`/contacts/${contact.id}/edit`) Edit
      form(method="post", action=`/contacts/${contact.id}/delete`)
        button(href=`/contacts/${contact.id}/delete`, class="link") Delete
