include ../mixins/input-text.pug
include ../mixins/svg/loader-2.pug

fieldset(class="space-y-4", data-loading-states)
  legend(class="sr-only") Search in contacts
  div(class="flex items-center gap-1 justify-between")
    +inputText({name: 'q', placeholder: 'Search in contacts', value: q})
    button(
      type="submit",
      value="search",
      class="btn btn-primary",
      data-loading-disable="true",
      hx-get="/contacts",
      hx-include="[name='q']",
      hx-target="body"
    ) 
      span(data-loading="")
        +loader2(class="h-5 w-5 animate-spin")
      span Search
  div(class="w-full text-center")
    a(href="?", class="link") Clear search
